@charset "UTF-8";

*{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	/*Dimensão da esquerda para a direita é 1360px*/
	background-color: #F1D8C9;
}
div{
	text-align: center;
}
header{
	border-radius: 20px;
	background-color: white;
	box-shadow: 5px 5px 13px #614e43be;
	width: 1000px;
	padding: 30px;
	margin: 10px auto 0px auto;
}
main{
	border-radius: 20px;
	background-color: white;
	box-shadow: 5px 5px 13px #614e43be;
	width: 800px;
	padding: 30px;
	margin: 20px auto 20px  auto;
}
h1{
	color: #F39209;
	text-align: center;
}
h2{
	color: #125189;
	text-align: center;
}
h3{
	color: #6cacb9;
	text-align: center;
  }
h4, h5, h6{
	color: #6cacb9;
	text-align: left;
	text-indent: 50px;
  }
p{
	text-align: justify;
}
img{
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
}
nav{
	border-radius: 10px;
	margin: auto;
	max-width: 1000px;
	background: rgba(56, 142, 255, 0.9);
	box-shadow:0 3px 15px rgba(0,0,0,0.5);
}
nav::after{
	display: block;
}
nav ul{
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(4, auto);
	list-style: none;
	padding: 0px;
}
nav ul li{
	float: left;
	position: relative;
}
nav ul li a{
	display: grid;
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 20px 49px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}
nav ul li a:hover, nav ul li a:focus{
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	color: white;
}
nav ul li a:focus{
	color: white;
}
nav ul li a:not(:only-child)::after{
	padding-left: 4px;
}
nav ul li ul{
	margin-left:-42px;
	list-style:none;
	position:absolute;
	display: none;
}
nav ul li:hover ul{
	display: block;
	border-radius: 10px;
	margin: auto;
	max-width: 1000px;
	background: rgba(56, 142, 255);
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}
nav ul li ul li{
	display: grid;
	position: relative;
	border: 2px solid transparent;
}
nav ul li ul li a{
	text-align: center;
	min-width: 150px;
}
nav ul li ul li a:hover, nav ul li ul li a:focus{
	background: rgba(0, 0, 0, .3);
	color: white;
}
.dropdown{
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}