@charset "UTF-8";

*{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	/*Dimensão da esquerda para a direita é 1360px*/
	background-color: #F1D8C9;
}
.Menu{
	border-radius: 20px;
	background-color: white;
	box-shadow: 5px 5px 13px #614e43be;
	width: 1000px;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 180px;
	margin-right: 180px;
}
main{
	border-radius: 20px;
	background-color: white;
	box-shadow: 5px 5px 13px #614e43be;
	width: 800px;
	padding: 30px;
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1{
	color: #F39209;
	text-align: center;
}
h2{
	color: #125189;
	text-align: center;
}
h3{
	color: #6cacb9;
	text-align: center;
  }
h4, h5, h6{
	color: #6cacb9;
	text-align: left;
	text-indent: 50px;
  }
p{
	text-align: justify;
}
img{
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
}
nav{
	border-radius: 10px;
	margin: auto;
	max-width: 1000px;
	background: rgba(56, 142, 255, 0.9);
	box-shadow:0 3px 15px rgba(0,0,0,0.5);
}
nav::after{
	display: block;
	content: '';
	clear: both;
}
nav ul{
	display: grid;
	grid-template-columns: repeat(5, auto);
	list-style: none;
	padding-left: 0px;
}
nav ul li{
	float: left;
	position: relative;
}
nav ul li a{
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 20px 49px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}
nav ul li a:hover, nav ul li a:focus{
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	color: white;
}
nav ul li a:focus{
	color: white;
}
nav ul li a:not(:only-child)::after{
	padding-left: 4px;
	content: ' ▾';
}
nav ul li ul{
	margin-left:-42px;
	list-style:none;
	position:absolute;
	display: none;
}
nav ul li:hover ul{
	display:block;
	border-radius: 10px;
	margin: auto;
	max-width: 1000px;
	background: rgba(56, 142, 255, 0.95);
	box-shadow:0 3px 15px rgba(0,0,0,0.5);
}
nav ul li ul li{
	min-width: 190px;
	display:block;
}

nav ul li ul li a:hover, nav ul li ul li a:focus{
	background: rgba(0, 0, 0, .3);
	color: white;
}
.dropdown{
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}